<div id="searchView" class="striped">
    <ul id="nav">
	<li></li>
	<li class="selected"></li>
	<li></li>
    </ul>
    <a href="#" id="cleanSearchHis" class="header-button header-button-icon search" style="width: 100%; padding: 0; top: 10px; display: none;"><button style="width: 100%;">清空搜索历史</button></a>
    <div id="wrapper">
    </div>    
    <div id="preSearch" style="width:100%; min-height: 100%">
        <ul class="tableview tableview-links ui-listview">
            <li class="searchHis">
                <ul class="tableview tableview-links ui-listview" style="width:100%; min-height: 100%"></ul>
            </li>
            <li class="searchTag">
                <ul class="tableview tableview-links ui-listview" style="width:100%; min-height: 100%"></ul>
            </li>
            <li class="searchResult">
                <ul class="tableview tableview-links ui-listview" style="width:100%; min-height: 100%"></ul>
            </li>
        </ul>        
    </div>
    <div id="prefectTags" style="width:100%;">
        <ul class="tableview tableview-links ui-listview">
        </ul>
    </div>
    <div id="allTags" style="width:100%;">
        <ul class="tableview tableview-links ui-listview">
        </ul>
    </div>
</div>